<nav class="navbar navbar-expand-lg navbar-dark navbar-floating">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <img src="../assets/favicon-light.png" alt="" width="40">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
        </ul>
        <div class="ml-auto my-2 my-lg-0"> 
        </div>
      </div>
    </div>
  </nav>
  
  <div class="bg-light">
  
    <div class="page-hero-section bg-image hero-mini" style="background-image: url(../assets/img/hero_mini.svg);">
      <div class="hero-caption">
        <div class="container fg-white h-100">
          <div class="row justify-content-center align-items-center text-center h-100">
            <div class="col-lg-6">
              <h3 class="mb-4 fw-medium">Contact</h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-dark justify-content-center bg-transparent">
                  <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Contact</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="page-section">
      <div class="container">
        <div class="row justify-content-center"> 
          <div class="col-md-6 col-lg-5 my-3 wow fadeInUp">
            <div class="card-page">
              <h3 class="fw-normal">Get in touch</h3>
              <form method="POST" class="mt-3">
                <div class="form-group">
                  <label for="name" class="fw-medium fg-grey">Fullname</label>
                  <input type="text" class="form-control" id="name">
                </div>
      
                <div class="form-group">
                  <label for="email" class="fw-medium fg-grey">Email</label>
                  <input type="text" class="form-control" id="email">
                </div> 
      
                <div class="form-group">
                  <label for="message" class="fw-medium fg-grey">Message</label>
                  <textarea rows="6" class="form-control" id="message"></textarea>
                </div>
  
                <p>*Your information will never be shared with any third party.</p>
      
                <div class="form-group mt-4">
                  <button type="submit" class="btn btn-primary">Send Message</button>
                </div>
              </form>
            </div>
          </div> 
        </div>
      </div>
    </div>
  
  </div> <!-- .bg-light -->
  
  
  <div class="page-footer-section bg-dark fg-white" style="padding: 0px">
  
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 py-2">
          <img src="../assets/favicon-light.png" alt="" width="40">
          <!-- Please don't remove or modify the credits below -->
          <p class="d-inline-block ml-2">Copyright &copy; makeurlogo . All rights reserved</p>
        </div>
        <div class="col-12 col-md-6 py-2">
          <ul class="nav justify-content-end">
            <li class="nav-item"><a routerLink="/terms"class="nav-link">Terms of Use</a></li>
            <li class="nav-item"><a routerLink="/privacy" class="nav-link">Privacy Policy</a></li> 
          </ul>
        </div>
      </div>
    </div>
  </div>