@import '~material-design-icons/iconfont/material-icons.css';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import url('https://fonts.googleapis.com/css?family=Aldrich');

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(10deg);
  }

  30% {
    transform: rotate(0deg);
  }

  40% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(0deg);
  }

  60% {
    transform: rotate(5deg);
  }

  70% {
    transform: rotate(0deg);
  }

  80% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes sonar {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.page-wrapper .sidebar-wrapper,
.sidebar-wrapper .sidebar-brand>a,
.sidebar-wrapper .sidebar-dropdown>a:after,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
.sidebar-wrapper ul li a i,
.page-wrapper .page-content,
.sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-wrapper .sidebar-search .input-group-text,
.sidebar-wrapper .sidebar-menu ul li a,
#show-sidebar,
#close-sidebar {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

body {
  overflow: hidden;
  font-family: sans-serif;
}

.navbar-header {
  position: fixed;
  left: 0px;
  right: 0px;
  height: 45px;
  z-index: 9999
}

.no-padding{
  padding:0px !important;
}

.wsContainer {
  margin-top: 34px;
  height: calc(100vh - 72px);
  width: calc(100% - 561px);
  overflow: auto;
  position: absolute;
  left: 281px;
}

.rightBlock {
  background: #2b2b2b;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  right: 0px;
  height: calc(100% - 45px);
  width: 260px;
  z-index: 1;
  top: 45px;
  border-top: 1px solid #3a3f48;
}

.leftBlock-list {
  background: #2b2b2b;
  overflow: hidden;
  position: absolute;
  left: -260px;
  height: calc(100% - 45px);
  width: 260px;
  z-index: 9999;
  top: 45px;
  border-top: 1px solid #3a3f48;
} 

.leftBlockactive{
  transition: 0.5s;
  left: 0;
}

.leftBlock-disable{
  transition: 0.5s;
  left: -260px;
}

.leftBlock-list-head{
  position: relative;
  width: 100%; 
  background: #2b2b2b;
  height: 67px;
}

.leftBlock-list-footer{
  text-align: center;
  position: absolute;
  bottom: 6px;
  width: 100%;
  vertical-align: middle;
  border-top: 1px solid #464a52;
}

.icon-listing{
  overflow-y: auto;
  height: calc(100% - 110px);
  position: absolute;
  z-index: -1;
}

.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
}

.loadmore-Btn{
  display: inline-block;
  width: 168px;
  top: 6px;
  border-radius: 50px !important;
  height: 30px;
  color: #16c7ff !important;
  background-color: #34363c !important;
  font-family: "proxima-nova", sans-serif;
  font-weight: 500;
  font-size: 13px; 
  letter-spacing: 2px;
  cursor: pointer;
  position: relative;
  overflow: hidden!important;
  transition: all .3s ease-in-out;  
  padding: 7px;
  user-select: none;
  text-align: center;
  text-transform: capitalize;
  border: 1px solid #BABABA;
}
/*----------------page-wrapper----------------*/

.page-wrapper {
  height: 100vh;
  background-color: rgb(26, 26, 26);
}

.page-wrapper .theme {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 4px;
  margin: 2px;
}

.page-wrapper .theme.chiller-theme {
  background: #1e2229;
}

/*----------------toggeled sidebar----------------*/

.page-wrapper.toggled .sidebar-wrapper {
  left: 0px;
}

.page-content {
  position: absolute;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .page-wrapper.toggled .page-content {
    /* padding-left: 300px; */

  }
}

/*----------------show sidebar button----------------*/
#show-sidebar {
  position: fixed;
  left: 0;
  top: 10px;
  border-radius: 0 4px 4px 0px;
  width: 35px;
  transition-delay: 0.3s;
}

.page-wrapper.toggled #show-sidebar {
  left: -40px;
}

/*----------------sidebar-wrapper----------------*/

.sidebar-wrapper {
  width: 260px;
  height: 93%;
  max-height: 100%;
  position: fixed;
  top: 45px;
  left: -300px;
  z-index: 999;
}

.sidebar-wrapper ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-wrapper a {
  text-decoration: none;
}

/*----------------sidebar-content----------------*/

.sidebar-content {
  max-height: calc(100% - 30px);
  height: calc(100% - 30px);
  overflow-y: auto;
  position: relative;
}

.sidebar-content.desktop {
  overflow-y: hidden;
}

/*--------------------sidebar-brand----------------------*/

.sidebar-wrapper .sidebar-brand {
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.sidebar-wrapper .sidebar-brand>a {
  text-transform: uppercase;
  font-weight: bold;
  flex-grow: 1;
}

.sidebar-wrapper .sidebar-brand #close-sidebar {
  cursor: pointer;
  font-size: 20px;
}

/*--------------------sidebar-header----------------------*/

.sidebar-wrapper .sidebar-header {
  padding: 20px;
  overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic {
  float: left;
  width: 60px;
  padding: 2px;
  border-radius: 12px;
  margin-right: 15px;
  overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.sidebar-wrapper .sidebar-header .user-info {
  float: left;
}

.sidebar-wrapper .sidebar-header .user-info>span {
  display: block;
}

.sidebar-wrapper .sidebar-header .user-info .user-role {
  font-size: 12px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status {
  font-size: 11px;
  margin-top: 4px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status i {
  font-size: 8px;
  margin-right: 4px;
  color: #5cb85c;
}

/*-----------------------sidebar-search------------------------*/

.sidebar-wrapper .sidebar-search>div {
  padding: 6px 20px;
}

/*----------------------sidebar-menu-------------------------*/

.sidebar-wrapper .sidebar-menu {
  padding-bottom: 10px;
}

.sidebar-wrapper .sidebar-menu .header-menu span {
  font-weight: bold;
  font-size: 14px;
  padding: 15px 20px 5px 20px;
  display: inline-block;
}

.sidebar-wrapper .sidebar-menu ul li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  position: relative;
  padding: 8px 30px 8px 20px;
}

.sidebar-wrapper .sidebar-menu ul li a i {
  margin-right: 10px;
  font-size: 12px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 4px;
}

.sidebar-wrapper .sidebar-menu ul li a:hover>i::before {
  display: inline-block;
  animation: swing ease-in-out 0.5s 1 alternate;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown>a:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  font-style: normal;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: 0 0;
  position: absolute;
  right: 15px;
  top: 14px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
  padding: 5px 0;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
  padding-left: 25px;
  font-size: 13px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 10px;
  font-size: 8px;
}

.sidebar-wrapper .sidebar-menu ul li a span.label,
.sidebar-wrapper .sidebar-menu ul li a span.badge {
  float: right;
  margin-top: 8px;
  margin-left: 5px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
  float: right;
  margin-top: 0px;
}

.sidebar-wrapper .sidebar-menu .sidebar-submenu {
  display: none;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a:after {
  transform: rotate(90deg);
  right: 17px;
}

.sidebar-icon-listing{
  text-align: center;
  vertical-align: middle;
  padding: 3px;
  top: 10px;
  border: 1px solid #4f4f4f;
  left:0px;
  width: 67px;
  background-color: #1d1d1d !important;
  margin-right: 5px;
  
  /* z-index: 2;  */
}

.sidebar-icon-listing:hover{
  /* transform: scale(1.1);  */
  transition: all 0.1s ease;
  /* background-color: #1d1d1d !important; */
}

.sidebar-icon-listing img{
  width:45px;
} 
/*--------------------------side-footer------------------------------*/

.sidebar-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
}

.sidebar-footer>a {
  flex-grow: 1;
  text-align: center;
  height: 30px;
  line-height: 30px;
  position: relative;
}

.sidebar-footer>a .notification {
  position: absolute;
  top: 0;
}

.sidebar-footer a:hover{
  background: #34363c;
}

.badge-sonar {
  display: inline-block;
  background: #980303;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  position: absolute;
  top: 0;
}

.badge-sonar:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #980303;
  opacity: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: sonar 1.5s infinite;
}

/*--------------------------page-content-----------------------------*/

.page-wrapper .page-content {
  display: inline-block;
  width: 100%;
  padding-left: 0px;
  padding-top: 20px;
}

.page-wrapper .page-content>div {
  /* padding: 20px 40px; */
}

.page-wrapper .page-content {
  overflow-x: hidden;
}

/*------scroll bar---------------------*/

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #525965;
  border: 0px none #ffffff;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #525965;
}

::-webkit-scrollbar-thumb:active {
  background: #525965;
}

::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: transparent;
}

::-webkit-scrollbar-track:active {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}


/*-----------------------------chiller-theme-------------------------------------------------*/

.chiller-theme .sidebar-wrapper {
  background: #2b2b2b;
}

.chiller-theme .sidebar-wrapper .sidebar-header,
.chiller-theme .sidebar-wrapper .sidebar-search,
.chiller-theme .sidebar-wrapper .sidebar-menu {
  border-top: 1px solid #3a3f48;
}

.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
  border-color: transparent;
  box-shadow: none;
}

.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text,
.chiller-theme .sidebar-wrapper .sidebar-brand>a,
.chiller-theme .sidebar-wrapper .sidebar-menu ul li a,
.chiller-theme .sidebar-footer>a {
  color: #818896;
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li:hover>a,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info,
.chiller-theme .sidebar-wrapper .sidebar-brand>a:hover,
.chiller-theme .sidebar-footer>a:hover i {
  color: #b8bfce;
}

.page-wrapper.chiller-theme.toggled #close-sidebar {
  color: #bdbdbd;
}

.page-wrapper.chiller-theme.toggled #close-sidebar:hover {
  color: #ffffff;
}

.chiller-theme .sidebar-wrapper ul li:hover a i,
.chiller-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu:focus+span,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
  color: #16c7ff;
  text-shadow: 0px 0px 10px rgba(22, 199, 255, 0.5);
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li a i,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
  background: #3a3f48;
}

.chiller-theme .sidebar-wrapper .sidebar-menu .header-menu span {
  color: #6c7b88;
}

.chiller-theme .sidebar-footer {
  background: #3a3f48;
  box-shadow: 0px -1px 5px #282c33;
  border-top: 1px solid #464a52;
}

.chiller-theme .sidebar-footer>a:first-child {
  border-left: none;
}

.chiller-theme .sidebar-footer>a:last-child {
  border-right: none;
}


/* Textbox */

.cur{
  cursor: pointer;
}

.form-control {
  border-radius: 0;
}

label {
  margin: 0;
  font-weight: 500;
  color: #dee1e6;
  font-family: sans-serif;
}

.smallFont {
  font-size: 13px;
  color: #fff;
}

.top-mspace {
  margin-top: 10px;
}

.tr {
  text-align: right;
}

.btn {
  border-radius: 2px;
}

.d-flex{
  display: flex;
}

/* .list-shape svg:hover {
  background-color: #16c7ff;;
  transition: all 0.3s ease;
} */

.list-shape svg:hover{
  transform: scale(1.3);
  /* background: #ff800a; */
  z-index: 2; 
  transition: all 1s ease;
}


.wrap{
  /* background: white; */
  left: 20px;
  max-width: 200px;
  position: relative;
  /* border: 1px solid #16c7ff; */
}

.head{
    /* background: #292D43; */
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    height: 30px;
    position: relative;
    /* width: 100%; */
    padding: 2px;
}

.colors{
   /* background: #31364E; */
    list-style-type: none;
    margin: 0;
    height: 170px;
    overflow: hidden;
    padding: 5px;
    transition: max-height .5s ease-in
}

.colors div:hover{
  box-shadow: 0 0 0 1px rgba(255, 255, 255, .45), 0 0 0 2px rgba(205, 205, 205, .9);
  transform: scale(1.05);
  transition: all 0.5s ease;
}

.head #expandcolors {
  position: absolute;
  margin-top: -2px;
  right: 10px;
  background: none;
  border: none;
  color: white;
  opacity: 0.5;
  transition: .5s ease-in-out;
  cursor: pointer;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: .5s ease-in-out;
}

.colors li {
  background: none;
  cursor: auto;
  display: inline-block;
  height: 31px;
  margin: 0 -4px 0 0;
  padding: 10px 0;
  text-align: center;
  width: 25%;
}

.colors .color {
  border-radius: 100%;
  cursor: pointer;
  height: 33px;
  margin: 0 auto;
  text-indent: -9999px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 33px;
}

.colorpicker-header{
    border: 1px solid #4f4f4f;
    border-radius: 3px;
    position: relative;
    width: 58%;
    height: 34px;
    top: 5px;
    left: 48px;
}

.e-split-colorpicker {
  background-color:transparent;
}

.e-icon-btn{
  background-color: transparent;
  
}
.e-btn-icon{
  color: #BABABA;
}

/* .e-btn.e-icon-btn {
  padding: 0px !important;
}


.e-split-btn{
  padding: 0px;
  border: 0px;
  height: 100%;
  width: 100%;
} */

/* .e-colorpicker-wrapper{
  position: absolute;
  left: 2px;
  top: 3px;
} */

.color-field-label{
  margin: 0 -10px;
    border-radius: 3px 3px 0 0;
    height: auto!important;
    border: 0;
    padding: 10px;
}

.color-field{
    width: 100%;
    height: 29px;
    border-radius: 0;
    padding-left: 5px;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 11px;
    letter-spacing: normal;
    border: 1px solid #4f4f4f;
    border-radius: 3px;
}


.btn10 {
  /* top: 40px; */
  font-family: "proxima-nova", sans-serif;
  font-weight: 500;
  font-size: 13px; 
  letter-spacing: 2px;
  color:  #b8bfce !important;
  cursor: hand;
  text-align: center;
  text-transform: capitalize;
  border: 1px solid #BABABA;
  border-radius: 2px;
  position: relative;
  overflow: hidden!important;
  transition: all .2s ease-in-out;  
  padding: 5px;
  user-select: none;
 
} 

.btn10:hover{
  color: #16c7ff !important;
  background-color: #34363c !important;
  transition: all .5s;
}


/* 
:root {
  --radius: 2px;
  --baseFg: dimgray;
  --baseBg: white;
  --accentFg: #006fc2;
  --accentBg: #bae1ff;
} */
.theme-pink {
  --radius: 3px;
  --baseFg: #bababb66;
  --baseBg: #2b2b2b;
  --accentFg: #ffffff;
  --accentBg: #2b2b2b; 
} 



/* 

select {
  font: 400 12px/1.3 sans-serif;
  -webkit-appearance: none;
  appearance: none;
  color:  #dee1e6;
  border: 1px solid var(--baseFg);
  line-height: 1;
  outline: 0;
  padding: 0.65em 2.5em 0.55em 0.75em;
  border-radius: var(--radius); 
  background-color: var(--baseBg);
  background-image: linear-gradient(var(--baseFg), var(--baseFg)),
    linear-gradient(-135deg, transparent 50%, var(--accentBg) 50%),
    linear-gradient(-225deg, transparent 50%, var(--accentBg) 50%),
    linear-gradient(var(--accentBg) 42%, var(--accentFg) 42%);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 1px 100%, 20px 22px, 20px 22px, 20px 100%;
  background-position: right 20px center, right bottom, right bottom, right bottom;   
} */

/* select:hover {
  background-image: linear-gradient(var(--accentFg), var(--accentFg)),
    linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(-225deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(var(--accentFg) 42%, var(--accentBg) 42%);

  } */

/* select:active {
  background-image: linear-gradient(var(--accentFg), var(--accentFg)),
    linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(-225deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(var(--accentFg) 42%, var(--accentBg) 42%);
  color: var(--accentBg);
  border-color: var(--accentFg);
  background-color: var(--accentFg);
} */


.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
  color:  #dee1e6;
  background-color: #000;
  border: 1px solid #bababb66;
  border-radius: 0px;
}

.scrollable-menu li{ 
  color: #fff;
  cursor: pointer;
}
.scrollable-menu .selected{
  background: #1c6ee8!important;
}

.scrollable-menu li:hover{
  background: #2b2b2b!important;
};

.scrollable-menu span{
  text-decoration: none;
  padding: 0 8px;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: normal;
}

.theme-dropdown{
  border-radius: 3px;
  border: 1px solid #4f4f4f;
  color: #dee1e6;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  padding: 2px;
  font-size: 13px;
  height: 27px;
  width: 100%;
}

.dropdown-icon {
  top: 25px;
  right: 19px;
  height: 25px;
  width: 16px;
  border-left: 1px solid #4f4f4f;
  border-radius: 0;
  display: inline-block;
  position: absolute;
  text-align: center;
  color: white;
}

.arrow {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.input-group {
  justify-content: space-between;
  align-items: center;
}

.flex {
  display: flex !important;
}

.list-inline, .list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}   


.font-styles button {
  width: 25px;
  height: 25px;
  border-radius: 3px;
  border: 1px solid #4f4f4f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.font-styles li{
  margin-right: 8px;
  color: #dee1e6;
}

.text-align li{
  margin-right: 8px; 
}

.button-simple {
  background: none;
  border: 0;
  padding: 0;
  outline: 0 none!important;
}

.text-align button {
  width: 25px;
  height: 25px;
  border-radius: 3px;
  border: 1px solid #4f4f4f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.font-styles li svg:not(.warning-icon-small) path {
  fill: #dee1e6;
}

.text-align li svg:not(.warning-icon-small) path {
  fill: #dee1e6;
}

.font-styles button.active, .font-styles button:hover {
  background: #4f4f4f;
}

.text-align button.active, .text-align button:hover {
  background: #4f4f4f;
}


.searchform div {
  height: 26px; 
  }
  
  .searchboxwrapper {
    position: relative;  
    padding: 5px; 
  }
  
  .searchbox {
    top: -7px;
    position: relative;
    border: 1px solid #4f4f4f;
    border-radius: 50px;
    outline: none;
    font: 13px 'Montserrat', sans-serif;
    color: white;
    width: 176px;
    height: 27px;
    background: transparent;
    padding-left: 10px;
  }
  
  .searchsubmit {  
    display:inline-block; 
    width: 66px;
    top: 2px;
    height: 29px;
    border-radius: 50px;
    border: 1px solid #BABABA !important;
    font-size: 11px !important;
    left: 7px;
    color: #16c7ff !important;
    background-color: #34363c !important;
  }

  
  .exportBtn{
    margin-top: 4px;
    /* border-radius: 55px; */
    color: #16c7ff !important;
    vertical-align: text-bottom;
    width: 125px;
    height: 31px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
  } 

  .exportBlock{
    position: absolute;
    z-index: 99999;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }

  .userprofile a:hover{
    /* background: #4f4f4f; */
    color: #eb5757;
  }

  .userprofile a{
    font-family: proxima-nova,sans-serif;
    font-size: 13px;
  }

  .wonb { 
    font-family: proxima-nova,sans-serif;
    color: #16c7ff;
    font-size: 13px;
    border: 1px solid #bababa8a;
  }

  .mono {
    
    padding-left: 0;
    text-align: center;
    display: flex; 
  }
  
  .mono li {
    font-family: "proxima-nova", sans-serif;
    font-size: 12px;
    list-style: none;
    width: 100%;  
    cursor: pointer;
    margin-right: 4px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 28px;
    /* transition: all 700ms ease-in-out; */
  }

  .mono li:hover{
    background-color: #34363c !important;
    transition: all .5s;
  }
