<div class="wrapper" style="background-color: #eee;">
  <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
    <div class="logo"><a routerLink="/home" class="simple-text logo-normal">
        <h4>Logomaker</h4>
      </a></div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="nav-item" (click)="changeTab('dashboard')" [ngClass]="{'active': selectedTab=='dashboard'}">
          <a class="nav-link">
            <i class="material-icons">dashboard</i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item" (click)="changeTab('favorite')" [ngClass]="{'active': selectedTab=='favorite'}">
            <a class="nav-link">
              <i class="material-icons">favorite</i>
              <p>My Favorties</p>
            </a>
          </li>
        <li class="nav-item " (click)="changeTab('userProfile')" [ngClass]="{'active': selectedTab=='userProfile'}">
          <a class="nav-link">
            <i class="material-icons">person</i>
            <p>User Profile</p>
          </a>
        </li>
        <li class="nav-item" (click)="changeTab('Upgrade')" [ngClass]="{'active': selectedTab=='Upgrade'}">
          <a class="nav-link">
            <i class="material-icons">unarchive</i>
            <p>Upgrade to PRO</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="main-panel">
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <a class="navbar-brand">
            <h3 style="margin:0px ">My logos</h3>
          </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end">
          <button class="btn btn-default btn-sm" (click)="userLogout()" style="border-radius: 3px;"><i class="fa fa-power-off" style="    font-size: 12px;margin-right: 5px;"></i><span class="glyphicon glyphicon-log-out"></span>Log out</button>
            
        </div>
      </div>
    </nav>
    
    <!-- End Navbar -->
    <div class="container-fluid" *ngIf="selectedTab=='dashboard'">

    </div>
    <div class="content" [hidden]="selectedTab=='userProfile' || selectedTab=='Upgrade' || selectedTab=='favorite'">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12" style="background: #e6e6e6">
            <form>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">Bussiness Name</label>
                    <input type="text" class="form-control" [(ngModel)]="iconName"
                      [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">Search by keyword</label>
                    <input type="email" class="form-control" [(ngModel)]="keywordText"
                      [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <div class="col-md-4">
                  <button class="btn btn-primary newLogoBtn" *ngIf='showLoader==false' (click)="createLogos()">Create
                    Logos</button>
                  <button class="btn btn-primary newLogoBtn" *ngIf='showLoader'><span><i
                        class="fas fa-spinner fa-spin"></i></span></button>
                </div>
              </div>
            </form>
            <div class="row">
              <!-- <div class="col-md-4">
                  <div class="btn-group" mdbDropdown>
                      <button mdbDropdownToggle type="button" mdbBtn color="primary" class="dropdown-toggle waves-light"
                        mdbWavesEffect style="width: 192px;display: inline-block;">
                        Category
                      </button>
                      <div class="dropdown-menu dropdown-primary" style="height: 274px;overflow-y: auto;">
                        <a class="dropdown-item" *ngFor='let category of iconCategories' (click)='getIconbyCategory(category)'>{{category.name}}</a>                                    
                      </div>
                    </div>
              </div> -->
              <div class="col-md-4">
                <div class="btn-group" mdbDropdown>
                  <button mdbDropdownToggle type="button" mdbBtn color="primary" class="dropdown-toggle waves-light"
                    mdbWavesEffect style="width: 192px;display: inline-block;">
                    Icon Styles
                  </button>
                  <div class="dropdown-menu dropdown-primary" style="height: 274px;overflow-y: auto;">
                    <a class="dropdown-item" *ngFor='let style of iconStyles;index as i'
                      (click)='getIconListbyStyles(style, i)'
                      [ngClass]="{'active': selectedIconIndex == i}">{{style.name}}</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div *ngIf="showListIconStyle"
                  style="position: relative;width: 100%;height: 100%;text-align: center;vertical-align: middle;justify-content: center;align-items: center;display: flex;">
                  <span><i class="fas fa-spinner fa-spin"></i></span>
                </div>
                <div class="btn-group" mdbDropdown *ngIf="iconListStyles.length">
                  <button mdbDropdownToggle type="button" mdbBtn color="primary" class="dropdown-toggle waves-light"
                    mdbWavesEffect style="width: 192px;display: inline-block;">
                    Specific List
                  </button>
                  <div class="dropdown-menu dropdown-primary" style="height: 274px;overflow-y: auto;">
                    <a class="dropdown-item" *ngFor='let lstyle of iconListStyles'
                      (click)='getIconbyCategory(lstyle)'>{{lstyle.name}}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4" *ngFor="let logo of logos;index as i">
              <div class="card card-chart" #cardChart style="height: 370px;">
                <canvas id={{logo.id}} [hidden]='true'></canvas>
                <img [src]="transform(logo.src)" *ngIf="logo.src" id={{logo.id}} crossorigin="anonymous" style="width: 100%;height: 100%;">
                <!-- <div class="card-body">
                            <h4 class="card-title">Daily Sales</h4>
                            <p class="card-category">
                              <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
                </div> -->
                <hr style="border-top: 1px solid rgba(208,208,208,.5);margin: 0px;" *ngIf='!logo.lazyLoad'>
                <div class="card-footer" *ngIf='!logo.lazyLoad'>
                  <button class="btn btn-primary card-btn-edit" (click)="goToEditor(logo, i)">Edit</button>
                  <button class="btn btn-primary card-btn-download" (click)="downloadThumb(i)">Download</button>
                </div>
                <div class="favBtn" [ngClass]="{'active': logo.isFav}" (click)="selectFav(logo, i)">
                    <i class="material-icons">favorite</i>
                </div>
              </div>
              <div *ngIf='logo.lazyLoad' style="left: 0px;top: 0px;height: 100%;width: 100%;position: absolute;text-align: center">
                <div class="lds-dual-ring"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content" *ngIf="selectedTab=='favorite'">
        <div class="container-fluid">
          <div class="row">
              <div class="col-md-4" *ngFor="let logo of favLogos;index as i">
                <div class="card card-chart" #cardChart style="height: 370px;">
                  <img [src]="transform(logo.src)" crossorigin="anonymous" style="width: 100%;height: 100%;">
                 <hr style="border-top: 1px solid rgba(208,208,208,.5);margin: 0px;">
                  <div class="card-footer" *ngIf='!logo.lazyLoad'>
                    <button class="btn btn-primary card-btn-edit" (click)="goToEditor(logo, i)">Edit</button>
                    <button class="btn btn-primary card-btn-download" (click)="downloadThumb(logo)">Download</button>
                  </div>
                  <div class="favBtn active" (click)="logo.warning=true">
                      <i class="material-icons">favorite</i>
                  </div>
                  <div class="fav-warn-flex" *ngIf="logo.warning">
                      <div class="row">
                        <div class="col-md-6">
                            <button class="btn btn-danger" (click)="removeFav(logo, i)">Yes</button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-default" (click)="logo.warning=false">No</button>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    <div class="content" *ngIf="selectedTab=='userProfile'">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title">Edit Profile</h4>
                <p class="card-category">Complete your profile</p>
              </div>
              <div class="card-body">
                <form>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <label class="bmd-label-floating">Username</label>
                        <input type="text" [(ngModel)]="userProfile.fullName" class="form-control"
                          [ngModelOptions]="{standalone: true}">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="bmd-label-floating">Email address</label>
                        <input type="email" [(ngModel)]="userProfile.email" class="form-control"
                          [ngModelOptions]="{standalone: true}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="bmd-label-floating">Fist Name</label>
                        <input type="text" [(ngModel)]="userProfile.firstName" class="form-control"
                          [ngModelOptions]="{standalone: true}">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="bmd-label-floating">Last Name</label>
                        <input type="text" [(ngModel)]="userProfile.lastName" class="form-control"
                          [ngModelOptions]="{standalone: true}">
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary pull-right">Update Profile</button>
                  <div class="clearfix"></div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-profile">
              <div class="card-avatar">
                <a href="javascript:;">
                  <img class="img" src="../assets/img/faces/marc.jpg" />
                </a>
              </div>
              <div class="card-body">
                <!-- <h6 class="card-category text-gray">CEO / Co-Founder</h6> -->
                <label class="bmd-label-floating">Fist Name</label>
                <h4 class="card-title">{{userProfile.fullName}}</h4>
                <label class="bmd-label-floating">Email address</label>
                <h4 class="card-title">{{userProfile.email}}</h4>
                <!-- <p class="card-description">
                        Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                      </p> -->
                <!-- <a href="javascript:;" class="btn btn-primary btn-round">Follow</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content" *ngIf="selectedTab=='Upgrade'" style="text-align: center;display: flex;align-items: center;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div>
              <span style="font-size: 50px;font-family: 'Do Hyeon'">WE ARE LAUNCHING SOON..!</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
