<nav class="navbar navbar-expand-lg navbar-light navbar-floating">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="../assets/favicon.png" alt="" width="40">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarToggler">
       <!--  <ul class="navbar-nav ml-lg-5 mt-3 mt-lg-0">
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item active" href="index.html">Homepage 1</a>
              <a class="dropdown-item" href="index-2.html">Homepage 2</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="updates.html">What's New</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
        </ul> -->
        <div class="ml-auto my-2 my-lg-0"> 
          <a href="#" routerLink='/login' class="btn btn-dark rounded-pill">Start Now</a>
        </div>
      </div>
    </div>
  </nav>
  
  <div class="page-hero-section bg-image hero-home-1" style="background-image: url(../assets/img/bg_hero_1.svg);">
    <div class="hero-caption pt-5">
      <div class="container h-100">
        <div class="row align-items-center h-100">
          <div class="col-lg-6 wow fadeInUp">
            <div class="badge mb-2"><span class="icon mr-1"><span class="mai-globe"></span></span> #2 Editor Choice App of 2020</div>
            <h1 class="mb-4">Create Your Own Logo Easier</h1>
            <p class="mb-4">Make Your Own Logo Today</p>
            <a href="#" class="btn btn-primary rounded-pill" routerLink='/login'>Get Logo Now</a>
          </div>
          <div class="col-lg-6 d-none d-lg-block wow zoomIn">
            <div class="img-place mobile-preview shadow floating-animate">
              <img src="./assets/img/app_preview_1.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Clients -->
  <div class="page-section mt-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-lg-3 py-3 wow zoomIn">
          <div class="img-place client-img">
            <img src="./assets/img/clients/alter_sport.png" alt="">
          </div>
        </div>
        <div class="col-sm-6 col-lg-3 py-3 wow zoomIn">
          <div class="img-place client-img">
            <img src="./assets/img/clients/cleaning_service.png" alt="">
          </div>
        </div>
        <div class="col-sm-6 col-lg-3 py-3 wow zoomIn">
          <div class="img-place client-img">
            <img src="./assets/img/clients/creative_photo.png" alt="">
          </div>
        </div>
        <div class="col-sm-6 col-lg-3 py-3 wow zoomIn">
          <div class="img-place client-img">
            <img src="./assets/img/clients/global_tv.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div> <!-- End clients -->
  
  <div class="position-realive bg-image" style="background-image: url(./assets/img/pattern_1.svg);">
  
    <div class="page-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 py-3">
            <div class="img-place mobile-preview shadow wow zoomIn">
              <img src="./assets/img/app_preview_2.png" alt="">
            </div>
          </div>
          <div class="col-lg-6 py-3 mt-lg-5">
            <div class="iconic-list">
              <div class="iconic-item wow fadeInUp">
                <div class="iconic-md iconic-text bg-warning fg-white rounded-circle">
                  <span class="mai-cube"></span>
                </div>
                <div class="iconic-content">
                  <h5>Get Your Own Business Logo </h5>
                  <p class="fs-small">Make a logo in minutes. Just answer a few simple questions about your business and personal style. Our online logo maker will create a logo design that’s right for you.</p>
                </div>
              </div>
              <div class="iconic-item wow fadeInUp">
                <div class="iconic-md iconic-text bg-info fg-white rounded-circle">
                  <span class="mai-shield"></span>
                </div>
                <div class="iconic-content">
                  <h5>Customize to Make It Yours</h5>
                  <p class="fs-small">With Logo Maker, you can design a logo that looks exactly the way you want. Each logo is completely customizable—change the font, color, size, text and more to fit your brand. Plus, you get full commercial use rights of any logo you create</p>
                </div>
              </div>
              <div class="iconic-item wow fadeInUp">
                <div class="iconic-md iconic-text bg-indigo fg-white rounded-circle">
                  <span class="mai-desktop-outline"></span>
                </div>
                <div class="iconic-content">
                  <h5>Get Expert Tips on Designing a Professional Logo</h5>
                  <p class="fs-small">You’ve selected the best online business logo maker out there. Now, it’s important to understand how to make your own logo memorable and successful. Luckily for you, we’ve got the ultimate step-by-step guide on designing a custom logo for your business.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="page-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 offset-lg-1 py-3 mt-lg-5 wow fadeInUp">
            <h1 class="mb-4">How to Make a Logo for Your Brand</h1>
            <p class="mb-4">To make your own logo for free, follow these 6 simple steps:</p>
            <div class="iconic-content">
                <h5>1. Enter Your Brand Name </h5>
                <p class="fs-small">Add the name of your brand, business or organization, and tell us what you do.</p>
            </div>
            <div class="iconic-content">
              <h5>2. Tell Us What Your Logo Is For</h5>
              <p class="fs-small">Describe your business, so our logo maker can create a logo that fits your brand.</p>
          </div>
          <div class="iconic-content">
            <h5>3. Get Expert Tips on Designing a Professional Logo</h5>
            <p class="fs-small">Let us know more about your personal style—from colors and fonts, to icons and more.</p>
            </div>
          <div class="iconic-content">
              <h5>4. Customize Your Logo Design</h5>
              <p class="fs-small">Edit and polish your logo online till it looks exactly the way you want.</p>
          </div>
          <div class="iconic-content">
            <h5>5. Download Your Logo </h5>
            <p class="fs-small">Get high-quality image files and use your custom logo design everywhere.</p>
          </div>
          <div class="iconic-content">
            <h5>6. Print Your Logo </h5>
            <p class="fs-small">Create business cards and sell branded merchandise, including t-shirts, tote bags and more.</p>
          </div>
            <a href="#" class="btn btn-outline-primary rounded-pill" routerLink='/login'>How it works</a>
          </div>
          <div class="col-lg-5 py-3">
            <div class="img-place mobile-preview shadow wow zoomIn">
              <img src="./assets/img/app_preview_3.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    
    </div>
  
    <div class="page-section bg-dark fg-white">
      <div class="container">
        <h1 class="text-center">Get Inspired by 100s of Stunning Logos </h1>
    
        <div class="row justify-content-center mt-5">
          <div class="col-md-6 col-lg-3 py-3">
            <div class="card card-body border-0 bg-transparent text-center wow zoomIn">
              <div class="mb-3">
                <img src="./assets/img/home_1.png" alt="">
              </div>
              <!-- <p class="fs-large">Brand</p> -->
              <!-- <p class="fs-small fg-grey">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</p> -->
            </div>
          </div>
          <div class="col-md-6 col-lg-3 py-3">
            <div class="card card-body border-0 bg-transparent text-center wow zoomIn" data-wow-delay="200ms">
              <div class="mb-3">
                <img src="./assets/img/home_2.png" alt="">
              </div>
              <!-- <p class="fs-large">Business&Enterprises</p> -->
              <!-- <p class="fs-small fg-grey">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</p> -->
            </div>
          </div>
          <div class="col-md-6 col-lg-3 py-3">
            <div class="card card-body border-0 bg-transparent text-center wow zoomIn" data-wow-delay="400ms">
              <div class="mb-3">
                <img src="./assets/img/home_3.png" alt="">
              </div>
              <!-- <p class="fs-large">Food & Restaurtants</p> -->
              <!-- <p class="fs-small fg-grey">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</p> -->
            </div>
          </div>
          <div class="col-md-6 col-lg-3 py-3">
            <div class="card card-body border-0 bg-transparent text-center wow zoomIn" data-wow-delay="600ms">
              <div class="mb-3">
                <img src="./assets/img/home_4.png" alt="">
              </div>
              <!-- <p class="fs-large">Health & Wellness</p> -->
              <!-- <p class="fs-small fg-grey">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</p> -->
            </div>
          </div>
          <div class="col-md-6 col-lg-3 py-3">
            <div class="card card-body border-0 bg-transparent text-center wow zoomIn" data-wow-delay="800ms">
              <div class="mb-3">
                <img src="./assets/img/home_5.png" alt="">
              </div>
              <!-- <p class="fs-large">Music</p> -->
              <!-- <p class="fs-small fg-grey">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</p> -->
            </div>
          </div>
          <div class="col-md-6 col-lg-3 py-3">
            <div class="card card-body border-0 bg-transparent text-center wow zoomIn" data-wow-delay="1000ms">
              <div class="mb-3">
                <img src="./assets/img/home_6.png" alt="">
              </div>
              <!-- <p class="fs-large">Name Design</p> -->
              <!-- <p class="fs-small fg-grey">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</p> -->
            </div>
          </div>
          <div class="col-md-6 col-lg-3 py-3">
            <div class="card card-body border-0 bg-transparent text-center wow zoomIn" data-wow-delay="1000ms">
              <div class="mb-3">
                <img src="./assets/img/home_7.png" alt="">
              </div>
              <!-- <p class="fs-large">Name Design</p> -->
              <!-- <p class="fs-small fg-grey">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</p> -->
            </div>
          </div>
          <div class="col-md-6 col-lg-3 py-3">
            <div class="card card-body border-0 bg-transparent text-center wow zoomIn" data-wow-delay="1000ms">
              <div class="mb-3">
                <img src="./assets/img/home_8.png" alt="">
              </div>
              <!-- <p class="fs-large">Name Design</p> -->
              <!-- <p class="fs-small fg-grey">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  
   <!--  <div class="page-section bg-image" style="background-image: url(./assets/img/pattern_2.svg);">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-5 mb-5 mb-lg-0 wow fadeInUp">
            <h1 class="mb-4">Pricing Plan</h1>
            <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores inventore maxime ipsa eligendi quibusdam velit maiores adipisci odit, exercitationem cumque iusto at debitis reiciendis a, ipsum aliquam reprehenderit. Sed, delectus.</p>
            <a href="#" class="btn btn-gradient btn-split-icon rounded-pill">
              <span class="icon mai-call-outline"></span> Custom Plan
            </a>
          </div>
          <div class="col-lg-7">
            <div class="pricing-table">
              <div class="pricing-item active wow zoomIn">
                <div class="pricing-header">
                  <h5>Business Plan</h5>
                  <h1 class="fw-normal">$49.00</h1>
                </div>
                <div class="pricing-body">
                  <ul class="theme-list">
                    <li class="list-item">Push Notification</li>
                    <li class="list-item">Unlimited Bandwith</li>
                    <li class="list-item">Realtime Database</li>
                    <li class="list-item">Monthly Backup</li>
                    <li class="list-item">24/7 Support</li>
                  </ul>
                </div>
                <button class="btn btn-dark">Choose Plan</button>
              </div>
              <div class="pricing-item wow zoomIn" data-wow-delay="200ms">
                <div class="pricing-header">
                  <h5>Starter Plan</h5>
                  <h1 class="fw-normal">$24.00</h1>
                </div>
                <div class="pricing-body">
                  <ul class="theme-list">
                    <li class="list-item">Push Notification</li>
                    <li class="list-item">Unlimited Bandwith</li>
                    <li class="list-item">Realtime Database</li>
                    <li class="list-item">Monthly Backup</li>
                    <li class="list-item">24/7 Support</li>
                  </ul>
                </div>
                <button class="btn btn-dark">Choose Plan</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- <div class="page-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 py-3 mb-5 mb-lg-0">
            <div class="img-place w-lg-75 wow zoomIn">
              <img src="../assets/img/illustration_contact.svg" alt="">
            </div>
          </div>
          <div class="col-lg-5 py-3">
            <h1 class="wow fadeInUp">Need a help? <br>
            Don't worry just contact us</h1>
    
            <form method="POST" class="mt-5">
              <div class="form-group wow fadeInUp">
                <label for="name" class="fw-medium fg-grey">Fullname</label>
                <input type="text" class="form-control" id="name">
              </div>
    
              <div class="form-group wow fadeInUp">
                <label for="email" class="fw-medium fg-grey">Email</label>
                <input type="text" class="form-control" id="email">
              </div>
    
              <div class="form-group wow fadeInUp">
                <label for="message" class="fw-medium fg-grey">Message</label>
                <textarea rows="6" class="form-control" id="message"></textarea>
              </div>
    
              <div class="form-group mt-4 wow fadeInUp">
                <button type="submit" class="btn btn-primary">Send Message</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div> -->
    <!-- <div class="page-footer-section bg-dark fg-white">
      <div class="container">
        <div class="row mb-5 py-3">
          <div class="col-sm-6 col-lg-2 py-3">
            <h5 class="mb-3">Pages</h5>
            <ul class="menu-link">
              <li><a href="#" class="">Features</a></li>
              <li><a href="#" class="">Customers</a></li>
              <li><a href="#" class="">Pricing</a></li>
              <li><a href="#" class="">GDPR</a></li>
            </ul>
          </div>
          <div class="col-sm-6 col-lg-2 py-3">
            <h5 class="mb-3">Company</h5>
            <ul class="menu-link">
              <li><a href="#" class="">About</a></li>
              <li><a href="#" class="">Team</a></li>
              <li><a href="#" class="">Leadership</a></li>
              <li><a href="#" class="">Careers</a></li>
              <li><a href="#" class="">HIRING!</a></li>
            </ul>
          </div>
          <div class="col-md-6 col-lg-4 py-3">
            <h5 class="mb-3">Contact</h5>
            <ul class="menu-link">
              <li><a href="#" class="">Contact Us</a></li>
              <li><a href="#" class="">Office Location</a></li>
              <li><a href="#" class="">hello@mobster.com</a></li>
              <li><a href="#" class="">support@macodeid.com</a></li>
              <li><a href="#" class="">+808 11233 900</a></li>
            </ul>
          </div>
          <div class="col-md-6 col-lg-4 py-3">
            <h5 class="mb-3">Subscribe</h5>
            <p>Get some offers, news, or update features of application</p>
            <form method="POST">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Your email..">
                <div class="input-group-append">
                  <button type="submit" class="btn btn-primary"><span class="mai-send"></span></button>
                </div>
              </div>
            </form>
    
            Social Media Button
            <div class="mt-4">
              <a href="#" class="btn btn-fab btn-primary fg-white"><span class="mai-logo-facebook"></span></a>
              <a href="#" class="btn btn-fab btn-primary fg-white"><span class="mai-logo-twitter"></span></a>
              <a href="#" class="btn btn-fab btn-primary fg-white"><span class="mai-logo-instagram"></span></a>
              <a href="#" class="btn btn-fab btn-primary fg-white"><span class="mai-logo-google"></span></a>
            </div>
          </div>
        </div>
      </div>
    
      <hr> -->
    
      <!-- <div class="container">
        <div class="row">
          <div class="col-12 col-md-6 py-2">
            <img src="../assets/favicon-light.png" alt="" width="40">
            Please don't remove or modify the credits below
            <p class="d-inline-block ml-2">Copyright &copy; <a href="https://www.macodeid.com/" class="fg-white fw-medium">MACode ID</a>. All rights reserved</p>
          </div>
          <div class="col-12 col-md-6 py-2">
            <ul class="nav justify-content-end">
              <li class="nav-item"><a href="#" class="nav-link">Terms of Use</a></li>
              <li class="nav-item"><a href="#" class="nav-link">Privacy Policy</a></li>
              <li class="nav-item"><a href="#" class="nav-link">Cookie Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div> -->
    